@charset "UTF-8";

#frame{
	width: 1050px;
	height: 100vh;
	margin: 0px auto;
	background-color: white;
}

#header{
	margin-top: 20px;
	width: 1000px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#header > a{
	width: 150px;
	height: 35px;
	font-size: 20px;
}

#search{
	width: 700px;
	height: 60px;
	margin: 20px auto 100px auto;
	font-size: 20px;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#search > input{
	width: 350px;
	height: 50px;
	font-size: 20px;
	border: 1px solid black;
}

#search > button{
	width: 100px;
	height: 50px;
	font-size: 16px;
	border: 1px solid black;
}

#genre{
	width: 1000px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#genre > button {
	width: 80px;
	height: 80px;
	font-size: 16px;
}

#m_body{
	
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#m_body ul{
	text-decoration: none; 
	width: 300px;
	height: 250px;
	border: 1px solid black;
	margin-bottom: 50px;
}

#m_body ul li{
	margin-bottom: 10px;
}

ul img{
	width: 120px;
	height: 150px;
}