<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id="count" resultType="int">
		select count(*) from board_t
	</select>
	<select id="board_list" parameterType="Map" resultType="bovo">
		select * from board_t order by groups desc, lev asc limit #{limit} offset #{offset}
	</select>
	<insert id="board_insert" parameterType="bovo">
		<selectKey keyProperty="groups" resultType="String" order="BEFORE">
			SELECT (IFNULL(MAX(board_idx),0)+1) as groups from board_t
		</selectKey>	
		insert into board_t(writer, title, content, pwd, hit, groups, step, lev, regdate, f_name)
		values(#{writer}, #{title}, #{content}, #{pwd}, 0, #{groups}, 0, 0, sysdate(), #{f_name})	
	</insert>
	<update id="hit_up" parameterType="String">
		update board_t set hit = hit + 1 where board_idx = #{board_idx}
	</update>
	<select id="detail" parameterType="String" resultType="bovo">
		select * from board_t where board_idx = #{board_idx}
	</select>
	<update id="lev_update" parameterType="Map">
		update board_t set lev = lev + 1 where groups = #{groups} and lev >= #{lev}
	</update>
	<insert id="ans_insert" parameterType="bovo">
		insert into board_t(writer, title, content, pwd, hit, groups, step, lev, regdate, f_name)
		values(#{writer},#{title},#{content},#{pwd},0,#{groups},#{step},#{lev},sysdate(),#{f_name})
	</insert>
</mapper>  